:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --footer-background-color: #2f303a;
  --white-color: #ffffff;
}
body {
  color: var(--primary-text-color);
  background: var(--white-color);
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}
.link {
  text-decoration: none;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
/* Шапка */
.logo-black {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: #000000;
}
.logo-black span {
  color: var(--accent-color);
}
.site-nav-item a {
  font-weight: 500;
  color: var(--title-text-color);
}
.site-nav-item a:hover,
.site-nav-item a:focus {
  color: var(--accent-color);
}
.site-nav-item .link.current {
  color: var(--accent-color);
}

.mail-tel-item a {
  color: var(--primary-text-color);
}
.mail-tel-item a:hover,
.mail-tel-item a:focus {
  color: var(--accent-color);
}
/* Банер */
.hero {
  color: var(--white-color);
  background-color: var(--footer-background-color);
}
.hero-title {
  font-weight: 900;
}
.hero-button {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.hero-button:hover {
  cursor: pointer;
}
/* Особенности */
.features-title {
  color: var(--title-text-color);
  font-weight: 700;
}
/* Чем мы занимаемся */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
}
/* Наша команда */
.team {
  background-color: #f5f4fa;
}
.team-item {
  background-color: var(--white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.team-name {
  color: var(--title-text-color);
  font-weight: 500;
}
.team-position {
  color: var(--primary-text-color);
}
footer {
  background-color: var(--footer-background-color);
}
.logo-white {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: var(--white-color);
}
.logo-white span {
  color: var(--accent-color);
}
.contacts-address {
  color: var(--white-color);
  font-style: normal;
}
.contacts-address:hover,
.contacts-address:focus {
  color: var(--accent-color);
}
.contacts-item {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.contacts-item:hover,
.contacts-item:focus {
  color: var(--accent-color);
}
.portfolio-filter-item {
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #f5f4fa;
}
.portfolio-filter-item:focus,
.portfolio-filter-item:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.work-name {
  color: var(--title-text-color);
}
